@import '../variables';

.categories {
  ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}

@media(max-width: 1100px){
  .categories{
    ul{
      li{
        padding: 5px 15px;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 510px){
  .categories{
    ul{
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      li{
        font-size: 12px;
      }
    }
  }
  
}